# Backend dependencies
fastapi
uvicorn[standard]
python-dotenv
pydantic
pydantic-settings
email-validator
sqlalchemy
psycopg2-binary
alembic
python-jose
python-multipart
passlib[argon2]
argon2-cffi
pytest
httpx
pymupdf
sentence-transformers
# transformers
# torch
faiss-cpu
numpy
scikit-learn

# # llm
# transformers
# torch
# accelerate
# sentencepiece

# experimental for changing the LLm inference
groq
redis
langgraph
langchain
firebase-admin